/* Start Variables */

@red: rgb(255, 49, 32);
@blue: rgb(3, 76, 110);

/* End Variables */

/* Start Mixins */

.transition {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.textShadow(@color) {
    -webkit-text-shadow: 0 0 1px @color;
    -moz-text-shadow: 0 0 1px @color;
    -ms-text-shadow: 0 0 1px @color;
    -o-text-shadow: 0 0 1px @color;
    text-shadow: 0 0 1px @color;
}

.borderRadius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.textTransform(@val) {
    -webkit-text-transform: @val;
    -moz-text-transform: @val;
    -ms-text-transform: @val;
    -o-text-transform: @val;
    text-transform: @val;
}

.letterSpacing(@val) {
    -webkit-letter-spacing: @val;
    -moz-letter-spacing: @val;
    -ms-letter-spacing: @val;
    -o-letter-spacing: @val;
    letter-spacing: @val;
}

.animation(@animation) {
    -webkit-animation: @animation;
    -moz-animation: @animation;
    -ms-animation: @animation;
    -o-animation: @animation;
    animation: @animation;
}

.boxShadow (@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    -ms-box-shadow: @shadow;
    -o-box-shadow: @shadow;
    box-shadow: @shadow;
}

.keyframes(@name, @_25, @_50, @_75, @_100) {
    @keyframes rotation {
        25% {
            transform: @_25;
        }
        50% {
            transform: @_50;
        }
        75% {
            transform: @_75;
        }
        100% {
            transform: @_100;
        }
    }

    @-webkit-keyframes rotation {
        25% {
            transform: @_25;
        }
        50% {
            transform: @_50;
        }
        75% {
            transform: @_75;
        }
        100% {
            transform: @_100;
        }
    }

    @-moz-keyframes rotation {
        25% {
            transform: @_25;
        }
        50% {
            transform: @_50;
        }
        75% {
            transform: @_75;
        }
        100% {
            transform: @_100;
        }
    }
    @-o-keyframes rotation {
        25% {
            transform: @_25;
        }
        50% {
            transform: @_50;
        }
        75% {
            transform: @_75;
        }
        100% {
            transform: @_100;
        }
    }
}

/* End Mixins */

/* Start Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    max-width: 100%;
}

body {
    height: 3000px;
}

/* End Global */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(#333, 50%); //        fade(black, 2%);
    z-index: 1;
}

/* Start Upper-bar */

.upper-bar {
    background-color: @blue;
    padding: 15px;
    color: #fff;
    .right-align {
        text-align: right;
    }
    button {
        color: #eee;
        border: 1px solid @red;
        background-color: transparent;
        .transition();
        .borderRadius(5px);
        .boxShadow(0 5px 0 darken(@red, 10%));
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            .boxShadow(0 2px 0 darken(@red, 15%));
            transform: translate(0, 3px);
        }
    }


    .left-align {
        span:first-child {
            margin-right: 10px;
            i {
                padding: 0 5px;
            }
        }
    }
}

/* End Upper-bar */

/* Start Navbar */

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: @blue;
            .transition;
            .textShadow(#333);
            &:hover {
                color: lighten(@blue, 20%);
            }
            &:active {
                transform: scale(1.1);
            }
        }
        .active {
            & > .nav-link {
                .textShadow(@red);
                color: @red;
            }
        }
    }
}

.navbar {
    .navbar-brand {
        color: @blue;
        font-weight: bold;
        font-size: 32px;
        &:hover {
            color: @blue;
        }
        span {
            color: @red;
            font-weight: lighter;
        }
    }
}

/* End Navbar */

/* Start SLider */

.slider {
    .carousel {
        .carousel-inner {
            display: flex;
            align-items: center;
            h1 {
                position: absolute;
                left: 100px;
                color: #eee !important;
                z-index: 3;
                span {
                    background-color: fade(@red, 85%);
                    .borderRadius(5px);
                    padding: 0 10px 5px;
                    margin-top: 5px;
                    display: inline-block;
                }
            }

            .carousel-item {
                background-size: cover;
                &:nth-child(3) {
                    background-image: url(../images/Phone.jpg);
                }
                &:nth-child(4) {
                    background-image: url(../images/Laptop.jpg);
                }
                &:nth-child(5) {
                    background-image: url(../images/Tablet.jpg);
                }
            }

            .overlay {
                background-color: fade(#222, 80%);
            }
        }
    }
}

/* End SLider */

/* Start Features */

.features {
    .row {
        margin: 0;
    }
    .feature-item {
        margin: 0 auto;
        span {
            display: inline-block;
            margin-top: 70px;
            color: #fff;
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 110px;
            background-color: @red;
            &:hover {
                .animation(rotation .6s linear infinite);
            }
        }

        h3 {
            margin: 15px auto 10px;
            color: @blue;
        }
        p {
            text-align: center;
            color: #929292;
        }
    }
}

/* End Features */

/* Start Overview */

.overview {
    background-color: #f2f3f9;
    padding-top: 50px;
    h1 {
        color: #2d2d2d;
        margin-bottom: 20px;
        .textTransform(uppercase);
        letter-spacing: 6px;
    }
    p {
        width: 70%;
        margin: 0 auto;
        color: #848484;
    }
    span {
        .textTransform(uppercase);
        .letterSpacing(5px);
        display: block;
        margin: 20px auto 10px;
        font-weight: lighter;
        color: @blue
    }
    button {
        text-transform: uppercase;
        background-color: @red;
        border: none;
        padding: 10px 30px;
        margin-bottom: 50px;
        color: #fff;
        .boxShadow(0 7px 0 #999);
        .borderRadius(5px);
        cursor: pointer;
        .transition;
        &:hover {
            transform: translate(0, 1px);
            .boxShadow(0 6px 0 #999);
        }

        &:active {
            transform: translate(0, 3px);
            .boxShadow(0 4px 0 #999);
        }

        &:focus {
            outline: none;
        }
    }
}

/* End Overview */

/* Start Work */

.work {
    padding-top: 50px;
    h2 {
        margin-bottom: 30px;
    }

    p {
        line-height: 1.6;
        width: 70%;
        margin: 0 auto 50px;
    }
    ul {
        margin: 0 auto 15px;
        li {
            padding: 10px 15px;
            color: @blue;
            border: 1px solid @blue;
            margin: 10px 5px;
            cursor: pointer;
            .borderRadius(5px);
            .transition;
<<<<<<< HEAD
            &.active {
                background-color: @red;
                border-color: @red;
                color: #fff;
                &:hover {
                    transform: scale(1) translate(0, 0);
                    .boxShadow(0 0 1px @red);
                    .textShadow(@red);
                }
            }
            &:hover {
                transform: scale(1) translate(3px, 1px);
                .boxShadow(0 0 5px @blue);
                .textShadow(@blue);
            }
            &:active {
                transform: scale(1.1) translate(0, 0);
=======
            &.active,
            &:hover {
                background-color: @red;
                border-color: @red;
                color: #fff;
>>>>>>> b98f786d55446fd8e6d36a4b69d4d41d16beb93e
            }
        }
    }
    .shuffle-images {
        .container-fluid {
            padding: 0;
        }
        .row {
            margin: 0;
            .col-md {
                padding: 0;
                overflow: hidden;
            }

            img {
                width: 100%;
                .transition;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

<<<<<<< HEAD
=======


>>>>>>> b98f786d55446fd8e6d36a4b69d4d41d16beb93e
/* End Work */

/* Start Keyframes */

.keyframes(rotation,
rotate(15deg),
rotate(0),
rotate(-15deg),
rotate(0));

/* End Keyframes */
