/* Start Variables */
/* End Variables */
/* Start Mixins */
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* End Mixins */
/* Start Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
body {
  height: 3000px;
}
/* End Global */
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 1;
}
/* Start Upper-bar */
.upper-bar {
  background-color: #034c6e;
  padding: 15px;
  color: #fff;
}
.upper-bar .right-align {
  text-align: right;
}
.upper-bar button {
  color: #eee;
  border: 1px solid #ff3120;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 0 #ec1200;
  -moz-box-shadow: 0 5px 0 #ec1200;
  -ms-box-shadow: 0 5px 0 #ec1200;
  -o-box-shadow: 0 5px 0 #ec1200;
  box-shadow: 0 5px 0 #ec1200;
  cursor: pointer;
}
.upper-bar button:focus {
  outline: none;
}
.upper-bar button:active {
  -webkit-box-shadow: 0 2px 0 #d31000;
  -moz-box-shadow: 0 2px 0 #d31000;
  -ms-box-shadow: 0 2px 0 #d31000;
  -o-box-shadow: 0 2px 0 #d31000;
  box-shadow: 0 2px 0 #d31000;
  transform: translate(0, 3px);
}
.upper-bar .left-align span:first-child {
  margin-right: 10px;
}
.upper-bar .left-align span:first-child i {
  padding: 0 5px;
}
/* End Upper-bar */
/* Start Navbar */
.navbar-light .navbar-nav .nav-link {
  color: #034c6e;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-text-shadow: 0 0 1px #333;
  -moz-text-shadow: 0 0 1px #333;
  -ms-text-shadow: 0 0 1px #333;
  -o-text-shadow: 0 0 1px #333;
  text-shadow: 0 0 1px #333;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #0691d1;
}
.navbar-light .navbar-nav .nav-link:active {
  transform: scale(1.1);
}
.navbar-light .navbar-nav .active > .nav-link {
  -webkit-text-shadow: 0 0 1px #ff3120;
  -moz-text-shadow: 0 0 1px #ff3120;
  -ms-text-shadow: 0 0 1px #ff3120;
  -o-text-shadow: 0 0 1px #ff3120;
  text-shadow: 0 0 1px #ff3120;
  color: #ff3120;
}
.navbar .navbar-brand {
  color: #034c6e;
  font-weight: bold;
  font-size: 32px;
}
.navbar .navbar-brand:hover {
  color: #034c6e;
}
.navbar .navbar-brand span {
  color: #ff3120;
  font-weight: lighter;
}
/* End Navbar */
/* Start SLider */
.slider .carousel .carousel-inner {
  display: flex;
  align-items: center;
}
.slider .carousel .carousel-inner h1 {
  position: absolute;
  left: 100px;
  color: #eee !important;
  z-index: 3;
}
.slider .carousel .carousel-inner h1 span {
  background-color: rgba(255, 49, 32, 0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px 5px;
  margin-top: 5px;
  display: inline-block;
}
.slider .carousel .carousel-inner .carousel-item {
  background-size: cover;
}
.slider .carousel .carousel-inner .carousel-item:nth-child(3) {
  background-image: url(../images/Phone.jpg);
}
.slider .carousel .carousel-inner .carousel-item:nth-child(4) {
  background-image: url(../images/Laptop.jpg);
}
.slider .carousel .carousel-inner .carousel-item:nth-child(5) {
  background-image: url(../images/Tablet.jpg);
}
.slider .carousel .carousel-inner .overlay {
  background-color: rgba(34, 34, 34, 0.8);
}
/* End SLider */
/* Start Features */
.features .row {
  margin: 0;
}
.features .feature-item {
  margin: 0 auto;
}
.features .feature-item span {
  margin-top: 70px;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 110px;
  background-color: #ff3120;
}
.features .feature-item span:hover {
  -webkit-animation: rotation 0.6s linear infinite;
  -moz-animation: rotation 0.6s linear infinite;
  -ms-animation: rotation 0.6s linear infinite;
  -o-animation: rotation 0.6s linear infinite;
  animation: rotation 0.6s linear infinite;
}
.features .feature-item h3 {
  margin: 15px auto 10px;
  color: #034c6e;
}
.features .feature-item p {
  text-align: center;
  color: #929292;
}
/* End Features */
/* Start Overview */
.overview {
  background-color: #f2f3f9;
  padding-top: 50px;
}
.overview h1 {
  color: #2d2d2d;
  margin-bottom: 20px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.overview p {
  width: 70%;
  margin: 0 auto;
  color: #848484;
}
.overview span {
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -o-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-letter-spacing: 5px;
  -moz-letter-spacing: 5px;
  -ms-letter-spacing: 5px;
  -o-letter-spacing: 5px;
  letter-spacing: 5px;
  display: block;
  margin: 20px auto 10px;
  font-weight: lighter;
  color: #034c6e;
}
.overview button {
  text-transform: uppercase;
  background-color: #ff3120;
  border: none;
  padding: 10px 30px;
  margin-bottom: 50px;
  color: #fff;
  -webkit-box-shadow: 0 7px 0 #999;
  -moz-box-shadow: 0 7px 0 #999;
  -ms-box-shadow: 0 7px 0 #999;
  -o-box-shadow: 0 7px 0 #999;
  box-shadow: 0 7px 0 #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.overview button:hover {
  transform: translate(0, 1px);
  -webkit-box-shadow: 0 6px 0 #999;
  -moz-box-shadow: 0 6px 0 #999;
  -ms-box-shadow: 0 6px 0 #999;
  -o-box-shadow: 0 6px 0 #999;
  box-shadow: 0 6px 0 #999;
}
.overview button:active {
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 4px 0 #999;
  -moz-box-shadow: 0 4px 0 #999;
  -ms-box-shadow: 0 4px 0 #999;
  -o-box-shadow: 0 4px 0 #999;
  box-shadow: 0 4px 0 #999;
}
.overview button:focus {
  outline: none;
}
/* End Overview */
/* Start Work */
.work {
  padding-top: 50px;
}
.work h2 {
  margin-bottom: 30px;
}
.work p {
  line-height: 1.6;
  width: 70%;
  margin: 0 auto 50px;
}
.work ul {
  margin: 0 auto 15px;
}
.work ul li {
  padding: 10px 15px;
  color: #034c6e;
  border: 1px solid #034c6e;
  margin: 10px 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.work ul li.active {
  background-color: #ff3120;
  border-color: #ff3120;
  color: #fff;
}
.work ul li:hover {
  transform: translate(3px, 1px);
}
.work .shuffle-images .container-fluid {
  padding: 0;
}
.work .shuffle-images .row {
  margin: 0;
}
.work .shuffle-images .row .col-md {
  padding: 0;
  overflow: hidden;
}
.work .shuffle-images .row img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.work .shuffle-images .row img:hover {
  transform: scale(1.1);
}
/* End Work */
/* Start Keyframes */
@keyframes rotation {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes rotation {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes rotation {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes rotation {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* End Keyframes */
